// this scss file should be import in scss files whenever need to change the theme.
// to make theme on a page.
//  i. theme.css, ii. import and implements dark mode in navBar.scss, home.scss, rightBar.scss, leftBar.scss, iii. darkModeContext.js, iv. wrap <App /> with context <DarkModeContextProvider /> in index.js, v. toggle the theme with icon button in NavBar.jsx


$themes: (
  light: (
    //these key will be the parameter value when the function themed() called in scss file.
    textColor: #000,
    softTextColor: rgb(59, 55, 55),
    bg: white,
    logo: rgb(9, 134, 175),
    bgSoft: #f6f3f3,
    textColorsoft: #555,
    border: lightskyblue,
  ),
  dark: (
    textColor: rgb(212, 208, 208),
    softTextColor: rgb(143, 140, 140),
    bg: #222,
    logo: white,
    bgSoft: rgb(66, 65, 65),
    textColorsoft: lightgray,
    border: #444,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
// this themed() function will call when need to chance the theme color from light mode to dark mode.
//example -    color: themed(textColor);
@function themed($key) {
  @return map-get($theme-map, $key);
}
