@import "../../theme.scss";
@import "../../responsive.scss";
.navbar {
  @include themify($themes) {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 30px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    background-color: themed("bg");

    z-index: 2;
    top: 0;
    .left {
      display: flex;
      align-items: center;
      gap: 30px;
      .icon {
        color: themed("textColor");
      }
      span {
        @include tablet {
          font-size: 12px;
        }
        font-weight: bold;
        font-size: 20px;
        color: themed("textColor");
      }
      .search {
        .icon {
          color: themed("textColor");
        }
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("bgSoft");
        border-radius: 7px;
        padding: 5px;
        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");
          // responsive
          @include tablet {
            display: none;
          }
        }
      }
    }
    .right {
      .icon {
        color: themed("textColor");
        // responsive
        @include tablet {
          display: none;
        }
      }
      display: flex;
      align-items: center;
      gap: 20px;
     

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          @include tablet {
            padding-left: 12px;
          }
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          //responsive
          @include tablet {
            font-size: 12px;
            flex-wrap: wrap;
            padding-left: 5px;
          }
          font-weight: 500;
          color: themed("textColor");
        }
      }
    }
  }
}
