@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 30px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    background-color: themed("bg");
    
    z-index: 2;
    top: 0;
    .left {
      display: flex;
      align-items: center;
      gap: 30px;
      .icon {
        color: themed("textColor");
      }
      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("textColor");
      }
      .search {
        .icon {
          color: themed("textColor");
        }
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("bgSoft");
        border-radius: 7px;
        padding: 5px;
        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");
        }
      }
    }
    .right {
      .icon {
        color: themed("textColor");
      }
      display: flex;
      align-items: center;
      gap: 20px;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          font-weight: 500;
          color: themed("textColor");
        }
      }
    }
  }
}
