.login {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    .left {
      h1 {
      }
      p {
      }
      span {
      }
      button {
      }
    }
    .right {
      h1 {
      }
      form {
        input {
        }
        button {
        }
      }
    }
  }
}
