@import "../../theme.scss";
@import "./../../responsive.scss";
.home {
  @include themify($themes) {
    background-color: themed("bgSoft");
    padding: 20px 40px;
     // responsive
     @include tablet{
      padding: 10px;
    }
  }
}
