@import "../../theme.scss";
@import "../../responsive.scss";
.profile {
  @include themify($themes) {
    background-color: themed("bgSoft");
    .images {
      width: 100%;
      height: 300px;
      position: relative;
      .cover {
        width: 100%;
        height: 100%;
      }
      .profilePic {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 200px;
      }
    }
    .profileContainer {
      padding: 20px 30px;
   
      .userInfo {
        height: 180px;
        -webkit-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.75);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        padding: 50px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        //responsive
        @include tablet {
          padding-top:100px ;
          flex-direction: column;
          height: 30vh;
        }
        
        .left {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          //responsive
          @include mobile {
            flex-wrap: wrap;
          }
          a {
            color: grey;
          }
        }
        .center {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          span {
            font-size: 20px;
            font-weight: 500;
          }
          .info {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .item {
              display: flex;
              align-items: center;
              gap: 5px;
              color: themed("textColorSoft");
              span {
                font-size: 12px;
              }
            }
          }
          button {
            border: none;
            background-color: rgb(140, 218, 238);
            padding: 5px;
            color: black;
            cursor: pointer;
            border-radius: 6px;}
        }
        .right {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: gray;
          gap: 10px;
        }
      }
    }.postContainer{
      padding: 10px 24px;
    }
  }
}
